.article-card {
    max-width: 500px;
    padding: 20px;
    margin: 20px;
  }
img{
  padding: 15px;
}
button{
  margin: 10px;
}

.date{
  position: absolute;
    top: 8px;
    right: 16px;
    font-size: 12px;
}