<h1>Articles</h1>
<p *ngIf="!articles"><em>Loading...</em></p>

<div *ngIf="role | async as r" class="comands text=right">

  <button *ngIf="r=='Redactor'" type="submit" [routerLink]="['/article']" class="btn btn-light">Add article</button>

    <mat-card *ngFor="let article of obs | async" class="article-card" class="article-card">
      
      <mat-card-header>
        <mat-card-title>{{article.title}}<p class="date">{{article.lastEdited | timePast}}</p></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src={{article.thumbnail}} >
            <div [innerHtml]="article.content"></div>
          
            
      </mat-card-content>
      <mat-card-actions>
        <div class="row align-items-center" >
          <div class="col-sm-3">
            <button class="btn btn-secondary" [routerLink]="['/article',article.id,'comments']">Comments</button>
            <button *ngIf="r=='Redactor'" class="btn btn-secondary" [routerLink]="['/article',article.id]">Edit</button>
          </div>
          <div class="col-sm-2">
            <app-delete [objTypeToDelete]="'Article'" [id]="article.id"></app-delete>
          </div>
        </div>
        
        
      </mat-card-actions>
   </mat-card>
</div>
<mat-paginator (page)="getData($event)" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
    


